{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript/base"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts"
        ]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "import/no-cycle": "off"
  }
}
